#root {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-rows: 50px 100px 1fr 100px 100px;
  grid-template-columns: 150px 1fr;
  grid-template-areas: 
    "header header"
    "nav main"
    "nav main"
    "nav ads"
    "footer footer";
}

.header-container {
  grid-area: header;
  text-align: center;
  font-size: 2rem;
  color: red;
}

.nav-container {
  grid-area: nav;
  font-size: small;
  background-color: rgb(25, 25, 25);
  overflow: auto;
}

.nav-title {
  text-align: center;
  margin-bottom: 10px;
}

.nav-filter-button {
  margin-top: 25px;
  text-align: center;
}

.nav-filter-button button {
  background-color: cornflowerblue;
  color: black;
  padding: 5px 15px;
  border: none;
  border-radius: 25px;
}

.nav-filter-button button:hover {
  background-color:darkcyan;
  color: white;
}

.nav-filter-button button:active {
  background-color: rgb(0, 100, 100);
}

.brands-container {
  text-align: left;
}

.focalrange-container input {
  text-align: right;
  width: 4ch;
}

.options-title {
  margin-top: 10px;
  text-align: center;
}

.display-container {
  grid-area: main;
  background-color: #181818;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.ads-container {
  grid-area: ads;
  background-color: #011;
}

.footer-container {
  grid-area: footer;
  background-color: #151515;
}

.item-container {
  border: 3px dashed green;
  width: 25%
}

.item-img {
  width: 100%;
  border: 2px solid blue;
}

.item-img img {
  border: 2px solid red;
  width: 100%;
}

.item-info {
  font-size: 12px;
}